/* Begin images home Saad*/
.banner-image{
    background-image: url('../img/banner-image.jpg');
    background-size: cover;
}
.travellers-img{
    background-image: url('../img/travel.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:right;
}
/* End images home Saad*/
/* begin checkout fouad */
.checkout-button{
    background-color: #7c4dff;
    width: 230px;
}
.cart-span{
   margin-bottom: 37px;
}
/* begin checkout fouad */